[Unit]
Description=Harvesting Service
After=network.target

[Service]
ExecStart=/usr/bin/python -u harvestingManagementSystem.py
WorkingDirectory=/home/pi/harvestingSystem
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
